<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal App</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <header class="w-full shadow py-5 px-10 bg-white fixed">
      <nav class="flex justify-between items-center">
        <a class="font-medium text-xl" href="../pages/category.html">mealapp</a>
        <button id="menu-open" class="sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-black"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
        <ul id="nav-links" class="space-x-5 text-base hidden sm:flex">
          <li class="hover:text-red">
            <a href="../pages/category.html">Home</a>
          </li>
          <li class="hover:text-red">
            <a href="../pages/category.html">Foods</a>
          </li>
          <li class="hover:text-red">
            <a href="">Ingredients</a>
          </li>
          <li class="hover:text-red">
            <a href="">Local Culinary</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="mobile-menu" class="fixed inset-0 bg-white z-50 hidden p-6">
      <ul class="flex flex-col space-y-4">
        <li><a href="../pages/category.html">Home</a></li>
        <li><a href="../pages/category.html">Foods</a></li>
        <li><a href="">Ingredients</a></li>
        <li><a href="">Local Culinary</a></li>
      </ul>
      <button id="menu-close" class="absolute right-6 top-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-dark"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <script>
      $(document).ready(function () {
        $("#menu-open").click(function () {
          $("#mobile-menu").removeClass("hidden");
        });

        $("#menu-close").click(function () {
          $("#mobile-menu").addClass("hidden");
        });
      });
    </script>
  </body>
</html>
